{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<title>RockSoc</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Rock Salt&subset=latin,latin-ext" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat">
		<link rel="stylesheet" href="{% static 'pages/pages.css' %}">
		<link rel="icon" href="http://www.rocksoc.org.uk/static/img/favicon.png" type="image/png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
		<div class="wrapper">
			<div class="header">
				<div class="logo_section">
					<a href="/">
						<img class="logo" src="{% static 'pages/images/fbbanner4.png' %}" alt="RockSoc Logo">
					</a>
				</div>
				<!--<div class="menu">
					<!--<div class="topnav" id="myTopnav">
						<a class="page_link" href="/">Home</a>
						<a class="page_link" href="">News</a>
						<a class="page_link" href="">Contact</a>
						<a class="page_link" href="">About</a>
						<a class="page_link" href="">Events</a>
						<a class="page_link" href="">Stash</a>
						<a class="page_link" href="">Membership</a>
						<a class="page_link" href="">Quote!</a>
						<a class="page_link" href="">Gallery</a>
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
					</div>
				</div>-->
				<!--<div class = "join">
					<p align="right">Join us on Facebook</p>
				</div>-->
				<div class="social_media">
					<a href="https://www.facebook.com/groups/camrocksoc/">
						<img class="fb_logo" src="{% static 'pages/images/fb_black.png' %}" alt="Facebook logo">
					</a>
				</div>
			</div>
			<div class="topnav">
				<a class="page_link" href="/">Home</a>
				<a class="page_link" href="/about">About</a>
				<a class="page_link" href="/events">Events</a>
				<a class="page_link" href="/news">News</a>
				<!--<a class="page_link" href="">Stash</a>-->
				<a class="page_link" href="/membership">Membership</a>
				<a class="page_link" href="/quote">Quote!</a>
				<a class="page_link" href="/gallery">Gallery</a>
				<a class="page_link" href="/committee">Committee</a>
				<a class="page_link" href="/contact">Contact</a>
			</div>
			
			{% block content %}
			{% endblock %}
			
		</div>
    </body>
	
	<!--<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>-->
	
<!--Scripts-->

	<script>
		$(document).ready(function () {
			$('#scroll_down').click(function () {
				$('.event_window').animate({
					scrollTop: '+=310'
				}, 500);
			});
		});
	</script>
	
	<script>
		$(document).ready(function () {
			$('#scroll_up').click(function () {
				$('.event_window').animate({
					scrollTop: '-=310'
				}, 500);
			});
		});
	</script>
	
	<script>
		$(document).ready(function () {
			$('#scroll_down_small').click(function () {
				$('.event_window_small').animate({
					scrollTop: '+=310'
				}, 500);
			});
		});
	</script>
	
	<script>
		$(document).ready(function () {
			$('#scroll_up_small').click(function () {
				$('.event_window_small').animate({
					scrollTop: '-=310'
				}, 500);
			});
		});
	</script>
	
	<!--<script>
		$("#slideshow > div:gt(0)").hide();

		setInterval(function() { 
			$('#slideshow > div:first')
			.fadeOut(2000)
			.next()
			.fadeIn(2000)
			.end()
			.appendTo('#slideshow');
		},  4500);
	</script>-->
	
</html>