{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container">
		<div class="content_big">
			
			<div class="side_title_backing_big" style="width:100%">
				<h1 class="page_title">CONSTITUTION</h1>
			</div>
			
			<p>Below you can find the RockSoc constituion in all its glory. Here is where we can settle once and for all any disputes that may arise.</p>
			
			<h3>Constitution :</h3>
			
			<ol id="constitution">
				<li>The Society shall be known as the Cambridge University Rock Society, or by the abbreviated forms Cambridge Rock Society or Rocksoc.</li>
				<li>The Society exists to bring together people interested in live and recorded rock music, to arrange preferably rock related social events 
				within Cambridge and trips to events outside Cambridge.</li>
				<li>Membership of the Society shall be open to all members of the University of Cambridge and Anglia Ruskin University, as well as to non-members 
				of the universities. All membership shall be at the committee's discretion. Membership shall be conditional on the payment of a subscription fee, 
				the sum of which shall be decided at the AGM or by an EGM or by a quorate vote of the current RockSoc Committee taken at a committee meeting. 
				Membership cards shall be issued to all paid-up members, which will entitle them whenever possible to reduced price entry to events organized by 
				the society.</li>
				<li>The Society shall be run by a committee of no more than eight members. This committee shall include a President, a Secretary and a Junior Treasurer, 
				plus other members as deemed necessary by the outgoing committee and confirmed by the electing AGM. The committee shall normally meet once a week, and 
				two thirds of the total number of its members rounded down shall form a quorum. The particular responsibilities of the committee members shall be as follows:
				<ul style="list-style-type:disc">
					<li style="margin: 10px 0"><i>President</i>: The president has overall responsibility for ensuring the smooth running of the committee and the society as a whole. The president shall act 
					as chairman of all meetings and has a casting vote in the event of a tie.</li>
					<li><i>Secretary</i>: The Secretary is responsible for taking and distributing the minutes of all Society meetings and keeping a record of the society's official 
					activities.</li>
					<li style="margin: 10px 0"><i>Junior Treasurer</i>: The Junior Treasurer is responsible for keeping the Society's financial accounts in order and especially for the audit at the end of 
					the year.</li>
				</ul>
				The committee shall choose people to be responsible for the funds of the society and be authorised to sign cheques. At least two of those people will be required 
				to sign any cheques.</li>
				<li>No officer of the society will have special liability for any debts or losses incurred by the society.</li>
				<li>The committee shall be elected at the AGM.</li>
				<li>Only Current members of the Society shall be eligible to vote. Members will be required to produce a valid membership card. The Secretary will organise the 
				voting procedure. Candidates for election must be Members of the Society and must be nominated and seconded by two other members of the Society.</li>
				<li>Members shall be able to provide proxy votes in advance if they are not able to attend the meeting.</li>
				<li>Votes will be determined by a majority of those present or proxy votes, votes on constitutional changes will be determined by a 2/3 majority of those present or proxy 
				vote. The president does not vote but has a casting vote to be used in the event of a tie.</li>
				<li>In the event that circumstances beyond the control of the committee lead to a constitutional requirement of the AGM or any election being unfulfilled which cannot be 
				resolved to the satisfaction of those present, the committee shall be mandated to resolve the issue and present their solution to a general meeting as soon as possible.</li>
				<li>All meetings held by the society shall be open to any members and non-members, although the latter have no voting rights.</li>
				<li>Quorum shall be ten members.</li>
				<li>The AGM shall take place in the Lent Term each academic year and shall be publicized as widely as possible to all traceable members at least four term weeks in advance.</li>
				<li>An EGM can be called at any time during Cambridge University full term by any member of the committee or by any group of ten current members and shall be publicized as 
				widely as possible to all traceable members at least two weeks of term in advance.</li>
				<li>The funds of the Society shall be applied solely for the furtherance of its aims. The officers and members of the Society shall not receive payment from the society, either 
				direct or indirect, for their services, or for other than legitimate expenses incurred in this work. The junior treasurer shall provide a full financial report at the AGM.</li>
				<li>No committee member may pass the (responsibility of the) accounts on to another committee member unless they have been verified by the Senior Treasurer.</li>
				<li>All accounts and financial reports must be kept for a minimum of 3 years.</li>
				<li>The constitution may only be altered at a general meeting. The constitution shall be made freely available to all members of the society.</li>
				<li>The committee reserves the right to expel any member, and prevent them from rejoining, if any action of the member is seen to bring the Society into disrepute. Such a 
				decision of the committee will be taken at a meeting with all members of the committee present. The aforementioned member must be offered the right to speak to the committee, 
				at a time suitable to the member and a location within Cambridge City suitable to the committee. A subsequent committee may reverse this decision.</li>
				<li>The society will abide by the rules of the Societies Syndicate of the University of Cambridge.</li>
				<li>In the event of the Society winding up, all assets shall be donated to the Nordoff Robbins Trust.</li>
			</ul>
			
		</div>
	</div>
	
{% endblock %}