{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container">
		<div class="content_big">
			
			<div class="mobile_hide_800">
				<table class="event_detail_table">
					<tr>
						<td style="width:8%;padding-right:20px"><h1 class="big_date" align="center">{{ event.date | date:"j M" }}</h1></td>
						<td>
							<table>
								<tr>
									<td style="border-left: 1px solid white; padding-left:20px"><h1 class="break_all">{{ event.event_name }}</h1></td>
								</tr>
							</table>
						</td>
						<!--<td rowspan="2" style="padding:20px">
							<div class="crop_big">
								<img src="{{ event.event_image.url }}" style="width:100%">
							</div>
						</td>-->
					</tr>
						<div class="mobile_hide_800">
							<!--<img class="event_img_big hover-shadow" src="{{ event.event_image.url }}" onclick="openModal();currentSlide(1)" align="right">-->
							
							
							<!--<div class="row">
							  <div class="column crop_small">
								<img src="{% static 'pages/images/panda.jpg' %}" onclick="openModal();currentSlide(1)" class="hover-shadow" style="width:100%">
							  </div>
							  <div class="column crop_small">
								<img src="{% static 'pages/images/panda.jpg' %}" onclick="openModal();currentSlide(2)" class="hover-shadow" style="width:100%">
							  </div>
							</div>-->

							<!-- The Modal/Lightbox -->
							<!--<div id="myModal" class="modal">
							  <span class="close cursor" onclick="closeModal()">&times;</span>
							  <div class="modal-content">

								<div class="mySlides">
								  <img src="{{ event.event_image.url }}" style="width:100%">
								</div>

							</div>
							</div>-->
							
							<a href="{{ event.event_image.url }}" data-lightbox="mygallery">
								<div>
									<img src="{{ event.event_image.url }}" class="event_img_big hover-shadow" align="right">
								</div>
							</a>
							
						</div>
						
					<tr>
						<td colspan="2">
							<table>
								<tr>
									<td style="width:450px"><h3>{{ event.date | date:"l jS F Y" }}<br>
									{{ event.start_time | date:"H:i" }} - {{ event.end_time | date:"H:i" }}<br>
									@ {{ event.event_location }}</h3></td>
									<!--{% if event.rockSoc_event %}
										<td style="padding:20px"><img src="{% static 'pages/images/rocksoc_logo.png' %}" style="width:100px"></td>
									{% endif %}-->
								</tr>
							</table>
							<!--<h3>{{ event.date | date:"l jS F Y" }}<br>{{ event.start_time | date:"H:i" }} - {{ event.end_time | date:"H:i" }}<br>@ {{ event.event_location }}</h3></td>-->
						</td>
					</tr>
				</table>
			</div>
			
			<div class="mobile_show_800">
				<table class="event_detail_table">
					<!--<tr>
						<td style="padding-right:20px"><h1 class="big_date" align="center">{{ event.date | date:"j M" }}</h1></td>
					</tr>-->
					<tr>
						<td>
							<table>
								<tr>
									<!--<td style="border-left: 1px solid white; padding-left:20px"><h1 class="break_all">{{ event.event_name }}</h1></td>-->
									<td><h1 class="break_all">{{ event.event_name }}</h1></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<table>
								<tr>
									<td style="width:450px"><h3>{{ event.date | date:"l jS F Y" }}<br>{{ event.start_time | date:"H:i" }} - {{ event.end_time | date:"H:i" }}<br>@ {{ event.event_location }}</h3></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
						<!--{% if event.rockSoc_event %}
						<tr>
							<td><img src="{% static 'pages/images/rocksoc_logo.png' %}" style="width:100px;padding:10px"></td>
						</tr>
						{% endif %}-->
						<!--<tr>
							<td colspan="3"><p>Link to Facebook event: {{ event.link_to_Facebook_event | urlize }}</p><br>
							<h3>Details:</h3>
							<p>{{ event.event_info | linebreaksbr | urlize }}</p></td>
						</tr>
					</table>-->
			
			<div class="mobile_show_800">
				<div style="max-height:350px; overflow:hidden">
					<img style="display:block;width:90%;margin:auto" src="{{ event.event_image.url }}">
				</div>
				<br>
			</div>
			
			<p>Click <a class="paragraph_link" href="{{ event.link_to_Facebook_event }}">here</a> for the Facebook event.</p><br>
			
			<h3>Details:</h3>
			<p class="break_all">{{ event.event_info | linebreaksbr | urlize }}</p></td>
			
		</div>
	</div>
	
{% endblock %}

<script>
	// Open the Modal
	function openModal() {
	  document.getElementById('myModal').style.display = "block";
	}

	// Close the Modal
	function closeModal() {
	  document.getElementById('myModal').style.display = "none";
	}

	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
	  showSlides(slideIndex += n);
	}

	// Thumbnail image controls
	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}

	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  var captionText = document.getElementById("caption");
	  if (n > slides.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
		slides[i].style.display = "none";
	  }
	  for (i = 0; i < dots.length; i++) {
		dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block";
	  dots[slideIndex-1].className += " active";
	  captionText.innerHTML = dots[slideIndex-1].alt;
	}
</script>