{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container">
		<div class="content_big">
		
			<div class="side_title_backing_big" style="width:100%">
				<h1 class="page_title">GALLERY</h1>
			</div>
			
			<p>On these pages are plenty of images of RockSoc for your viewing pleasure. If you have images
			you feel should be uploaded please <a href="/contact" class="paragraph_link">contact</a> the
			webmaster to have them added.</p>

			<!--<a href="{% static 'pages/images/hobbs.jpg' %}" data-lightbox="gallery1">
				<div class="column crop_small">
					<img src="{% static 'pages/images/hobbs.jpg' %}" class="hover-shadow" style="width:100%">
				</div>
			</a>-->
			
			<!--{% for category in categories %}
				<h2>{{ category.name }}</h2>
				{% for item in category.item_set.all %}
					<h3>{{ item.name }}</h3>
					<p>{{ item.description }}</p>
					<p>{{ item.category.name }}</p>
				{% endfor %}
			{% endfor %}-->
			
			{% for album in albums %}
				<h2>{{ album.album_name }}</h2>
				<img src="{% static 'pages/images/horizontal_divider.png' %}" style="width:100%;margin-bottom:20px">
				{% for img in album.image_set.all %}
					<!--<img src="{{ img.image.url }}">-->
					<a href="{{ img.image.url }}" data-lightbox="gallery1" data-title="{{ img.caption }}">
						<!--<div class="column crop_small">-->
						<div class="crop_gallery" style="width:15%;display:inline-block;border:1px solid gray">
							<img src="{{ img.image.url }}" class="hover-shadow" style="width:100%">
						</div>
					</a>
				{% endfor %}
			{% endfor %}
			
			<!--{% for item in items %}
				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>
				<p>{{ item.category.name }}</p>
			{% endfor %}-->
			
			<!-- Images used to open the lightbox -->
			<!--<div class="row">
			  <div class="column crop_small">
				<img src="{% static 'pages/images/panda.jpg' %}" onclick="openModal();currentSlide(1)" class="hover-shadow" style="width:100%">
			  </div>
			  <div class="column crop_small">
				<img src="{% static 'pages/images/curry_night.jpg' %}" onclick="openModal();currentSlide(2)" class="hover-shadow" style="width:100%">
			  </div>
			  <div class="column crop_small">
				<img src="{% static 'pages/images/wus_event.jpg' %}" onclick="openModal();currentSlide(3)" class="hover-shadow" style="width:100%">
			  </div>
			  <div class="column crop_small">
				<img src="{% static 'pages/images/hobbs.jpg' %}" onclick="openModal();currentSlide(4)" class="hover-shadow" style="width:100%">
			  </div>
			</div>-->

			<!-- The Modal/Lightbox 
			<div id="myModal" class="modal">
			  <span class="close cursor" onclick="closeModal()">&times;</span>
			  <div class="modal-content">

				<div class="mySlides">
				  <div class="numbertext">1 / 4</div>
				  <img src="{% static 'pages/images/panda.jpg' %}" style="max-height:850px">
				</div>

				<div class="mySlides">
				  <div class="numbertext">2 / 4</div>
				  <img src="{% static 'pages/images/curry_night.jpg' %}" style="width:100%">
				</div>

				<div class="mySlides">
				  <div class="numbertext">3 / 4</div>
				  <img src="{% static 'pages/images/wus_event.jpg' %}" style="width:100%">
				</div>

				<div class="mySlides">
				  <div class="numbertext">4 / 4</div>
				  <img src="{% static 'pages/images/hobbs.jpg' %}" style="max-height:850px">
				</div>-->

				<!-- Next/previous controls -->
				<!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>-->

				<!-- Caption text -->
				<!--<div class="caption-container">
				  <p id="caption"></p>
				</div>-->

				<!-- Thumbnail image controls 
				<div class="column">
				  <img class="demo" src="{% static 'pages/images/hobbs.jpg' %}" onclick="currentSlide(1)" alt="Nature" style="width:100%">
				</div>

				<div class="column">
				  <img class="demo" src="{% static 'pages/images/panda.jpg' %}" onclick="currentSlide(2)" alt="Snow" style="width:100%">
				</div>

				<div class="column">
				  <img class="demo" src="{% static 'pages/images/hobbs.jpg' %}" onclick="currentSlide(3)" alt="Mountains" style="width:100%">
				</div>

				<div class="column">
				  <img class="demo" src="{% static 'pages/images/hobbs.jpg' %}" onclick="currentSlide(4)" alt="Lights" style="width:100%">
				</div>-->
			  </div>
			</div>
			
		</div>
	</div>
	
{% endblock %}