{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container">
		<div class="content_big">
		
			<div class="side_title_backing_big" style="width:100%">
				<h1 class="page_title">NEWS</h1>
			</div>
			
			<p>Here you can find out about some of the goings-on in RockSoc. For the most up-to-date information join us on <a href="https://www.facebook.com/groups/camrocksoc" class="paragraph_link">Facebook.</a></p>
			
			<br>
			
			<hr>
			
				<div class="mobile_hide_600">
				
					{% for news in news %}
				
						<br>
						
						<table style="width:100%;border-collapse:collapse">
							<tr>
								<td style="width:58%;vertical-align:top"><h4>{{ news.date | date:"d/m/y" }}</h4>
								<h3>{{ news.news_title }}</h3>
								<p>{{ news.info | urlize | linebreaks }}</p></td>
								<!--<td>
									<div class="crop_medium" style="margin-bottom:4%">
										<img src="{{ news.image.url }}" style="width:100%">
									</div>
								</td>-->
							</tr>
						</table>
					
						<hr>
					
					{% endfor %}
				
				</div>
				
				<div class="mobile_show_600">
					
					{% for news in news %}
					
						<br>
						
						<table style="width:100%;border-collapse:collapse">
							<tr>
								<td style="vertical-align:top"><h4>{{ news.date | date:"d/m/y" }}</h4>
								<h3>{{ news.news_title }}</h3>
								</td>
							</tr>
						</table>
						
						<!--<div class="crop_events_mobile">
							<img src="{{ news.image.url }}" style="width:100%; vertical-align:top">
						</div>-->	
				
						<p>{{ news.info | urlize | linebreaks }}</p>
				
						<hr>
				
					{% endfor %}

				</div>
			
			<div>
				<p align="right">Page {{ news.number }} of {{ news.paginator.num_pages }}</p>
							
				{% if news.has_previous %}
					<p align="right">
					<a href="?page={{ news.previous_page_number }}" class="paragraph_link">< Previous</a></p>
				{% endif %}

				{% if news.has_next %}
					<p align="right"><a href="?page={{ news.next_page_number }}" class="paragraph_link">Next ></a></p>
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}